body {
	background-color: black;
	color: #00ff00;
	font-family: 'Courier New', Courier, monospace;
}

#roomDesc {
	width: 500px;
	background-color: rgb(82, 79, 79);
	padding: 10px;
	margin-bottom: 5px;
}

#cli input {
	width: 500px;
	padding: 10px;
}

[v-cloak] { display: none; }