<!DOCTYPE html>
<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
	<link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<style>
		[v-cloak] {display: none}
		.pointer {
			cursor: pointer
		};
	</style>
	<title>Podcast Player</title>
</head>
<body>

	<div id="app" v-cloak>
		<v-app dark>

			<v-navigation-drawer clipped fixed v-model="drawer" app>
				<v-list dense>
					<v-list-tile @click="allPodcasts">
						<v-list-tile-action>
							<v-icon>dashboard</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							<v-list-tile-title>All Podcasts</v-list-tile-title>
						</v-list-tile-content>
					</v-list-tile>
					<v-list-tile v-for="podcast in podcasts" :key="podcast.rsslink" :value="podcast == selectedPodcast">
						<v-list-tile-action @click="deletePodcast(podcast)" >
							<v-icon :color="podcast.color" class="pointer">delete</v-icon>
						</v-list-tile-action>
						<v-list-tile-content @click="filterPodcast(podcast)" >
							<v-list-tile-title>{{ podcast.title }}</v-list-tile-title>
						</v-list-tile-content>
					</v-list-tile>
					<v-list-tile @click="addPodcast">
						<v-list-tile-action>
							<v-icon>add</v-icon>
						</v-list-tile-action>
						<v-list-tile-content>
							<v-list-tile-title>Add Feed</v-list-tile-title>
						</v-list-tile-content>
					</v-list-tile>
				</v-list>
			</v-navigation-drawer>

			<v-toolbar app fixed clipped-left>
				<v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
				<v-toolbar-title>Podcast Player</v-toolbar-title>
			</v-toolbar>

			<v-content>
				<v-container>

					<div v-if="showIntro">
						<p>
						Welcome to the Podcast Player, a web based podcast manager and player.
						To begin, add your first podcast by clicking the button below.
						</p>
						<p>
							<v-btn color="primary" large @click="addPodcast"><v-icon>add</v-icon>Add Podcast</v-btn>
						</p>
					</div><div v-else>
						<v-container fluid grid-list-lg>
							<v-layout row wrap>
								<v-flex xs12 v-for="item in items" :key="item.link">
									<podcast-item :title="item.title" :content="item.content" :link="item.link" :podcasttitle="item.podcastTitle" :color="item.podcastColor" :posted="item.pubDate" :audiosrc="item.audio" :playing="item.playing" v-on:audiostart="doAudio(item)" v-on:audiostop="stopAudio(item)"></podcast-item>
								</v-flex>
							</v-layout>
						</v-container>
					</div>

					<v-dialog v-model="addPodcastDialog" max-width="500px">
						<v-card>
							<v-card-title>Add Podcast</v-card-title>
							<v-card-text>
								Add the RSS URL for a podcast below:
								<v-text-field v-model="addURL" label="URL" :error="urlError"
								:rules="urlRules"></v-text-field>
							</v-card-text>
							<v-card-actions>
								<v-btn color="primary" @click.stop="addPodcastAction">Add</v-btn>
								<v-btn color="primary" flat @click.stop="addPodcastDialog=false">Close</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>

				</v-container>
			</v-content>

			<v-footer app fixed>
				<span>Another toy made by <a href="https://www.raymondcamden.com" target="_new">Raymond Camden</a></span>
			</v-footer>

		</v-app>
	</div>

	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vuex"></script>
	<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
	
	<script src="./app.js"></script>

</body>
</html>