[x-cloak] { display: none !important; }

table {
	margin-left: 30px;
	margin-top: 30px;
	border-collapse: collapse;
	border: 1px solid black;
}

th, td {
	padding: 5px; 
	width: 15px;
	height: 15px;
	text-align: center;
}

#whisper {
	margin-left: 30px;
	margin-top: 10px;
}

.fadeDiv {
  position: relative; 
  height: 200px; 
  overflow-y: auto; 
  padding: 20px;
}

.fade-overlay-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 120px; /* Adjust this value to control the fade area height */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  pointer-events: none; 
  z-index: 1; 
}

footer {
	a {
		color: black;
	}
}