<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Taipan</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="main.css" />
	<style>
	[v-cloak] {display: none}
	</style>
</head>
<body>

	<div id="app" v-cloak>

		<div v-if="intro">
			Welcome to Taipan. To begin, enter your company's name:
			<input v-model="companyName"> 
			<button @click="startGame" :disabled="companyName === ''">Start</button>
		</div>

		<div v-if="gameOn">
			<h1>Company: {{ companyName }} - Date: {{ gameDate }} - Port: {{ port }}</h1>
			<h2>Funds: {{ funds }}</h2>
			hold: {{ hold }}<br/>

			<p>
				Cost of Goods at Port: {{ costOfGoods }}
			</p>
			
			<p>
			<button @click="doPurchase">Purchase</button> 
			<input v-model.number="purchaseAmt" type="number"> units of 
			<select v-model="purchaseGood">
				<option v-for="good in goods">{{good}}</option>
			</select>.
			<br/>
			<button @click="doSale">Sell</button> 
			<input v-model.number="sellAmt" type="number"> units of 
			<select v-model="sellGood">
				<option v-for="good in goods">{{good}}</option>
			</select>.
			</p>

			<p v-if="statusMsg">
				<strong>{{statusMsg}}</strong>
			</p>

			<p>
				<b>to build next</b><br/>
				action to travel to port<br/>
			</p>

		</div>

	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>	
	<script src="https://unpkg.com/vuex"></script>
	<script src="app.js"></script>	
</body>
</html>